.space-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 38vh
}

input[type=file] {
  visibility: hidden;
  position: absolute
}

.fadein {
  animation: fadein 2s;
}

svg, .button svg, .close svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}

svg:hover, .button svg:hover, .close svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer
}
